<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="bundle.css")
    link(rel="stylesheet", href="assets/fontawesome-free/css/all.min.css")
  body

    section#profile
      h3 著者プロフィール

      .author
        img(src="assets/wami.jpg")
        .profile
          h4 wami
          code
            i(class="fab fa-twitter" aria-hidden="true")
            i(class="fab fa-github" aria-hidden="true")
            | wamisnet
          div
            | ハードウェアからソフトウエアまでやっちゃうなんでも屋さん


    section#colophon
      h2.title Flutter×Firebaseで始めるモバイルアプリ開発入門
      ul.editions
        li
          time(datetime='2020-02-29') 2020 年 2 月 29 日
          | 初版発行
      table.info
        tr
          td 発行
          td わみ
        tr
          td 編集
          td わみ
        tr
          td 印刷
          td 日光企画 (表紙: NP ホワイト 200kg マット PP 加工 / 本文: 上質紙 90kg)<br/>
            | https://www.nikko-pc.com
      p
        | © kido User Group
