<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=s, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Flutter×Firebaseで始めるモバイルアプリ開発入門
    link(rel="stylesheet", href="bundle.css")
  body

    #cover
      h1 Flutter×Firebaseで始める<br>モバイルアプリ開発入門

    h2.toc-header 目　次

    nav#toc(role="doc-toc")

      ul
        li
          a(href="check_html.html") チェック用
        li
          a(href="preface.html") まえがき
        li
          a(href="01intro.html") FlutterとFirebaseを知ろう
        li
          a(href="02make_enviroment.html") 開発環境を構築しよう
        li
          a(href="atogaki.html") あとがき
